<section class="cards">

    <article class="card" *ngFor="let card of cards"
             [class.active]="card.active"
             (click)="handleClick(card)"
             [style]="styleBackground(card)"
    >
      <div class="shadow"></div>
      <div class="label">
        <section class="icon">
          <img [src]="icon(card)" [alt]="card.title" />
        </section>
        <section class="info">
          <div class="main">{{ card.title }}</div>
          <div class="sub">{{ card.subtitle }}</div>
        </section>
      </div>
    </article>

</section>
